<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="viewport" content="with-device-width,initial-scale-1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../../static/style.css">
        <title>RailBot</title>
        <script src="../../static/js/events.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="title">RailBot</div>
            <div class="box">
              <div id="messaging">
                <div class="item">
                    <div class="icon">
                       <i class="fa fa-user"></i>
                    </div>
                    <div class="msg">
                        <p>Hello, this is rail bot</p>
                    </div>
                </div>
                <!--
                <br clear="both">
                <div class="item right">
                    <div class="msg">
                        <p>Hi</p>
                    </div>
                </div>
               -->
              </div>

                
                <div class="typing-area" id="typingarea">
                    <div class="input-field">
                        <input type="text" id="question" placeholder="Type your message" required>
                        <button onclick="addMessageFromUser();">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>